[Unit]
Description=Web application for Kate
After=network.target

[Service]
ExecStartPre=/usr/bin/pip3 install -r requirements.txt
ExecStartPre=uvicorn app.__main__:app
WorkingDirectory=/root/KateWebApp
Restart=always
User=root

[Install]
WantedBy=multi-user.target