[Unit]
Description=Web application for Kate
After=network.target

[Service]
ExecStartPre=pip3 install -r requirements.txt
ExecStart=uvicorn app.__main__:app --host 0.0.0.0 --port 80
WorkingDirectory=/root/KateWebApp
Restart=always
User=root

[Install]
WantedBy=multi-user.target