<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abduction Report</title>
</head>
<body>
    <h1>Космические пришельцы похищали меня, сообщение о похищении:</h1>
    <p>Вы были похищены {{ date }} и отсутствовали {{ duration }}.</p>
    <p>Опишите их: {{ description }}.</p>
    <p>Видели ли Вы мою собаку Фэнга? {{ saw_dog }}</p>
    <p>Ваш адрес электронной почты: {{ email }}</p><br>
    <p>Email сообщение было отправлено в службу по борьбе с пришельцами: {{ email_result }}</p>
    <p>Telegram сообщение было отправлено в службу по борьбе с пришельцами: {{ telegram_result }} </p>
    <p>Запись добавлена в базу данных службы по борьбе с пришельцами: {{ db_result }}</p>
</body>
</html>